.tab-css {
    font-size: 1.7em;
    text-align: center;
}

/*.guide-img {*/
/*    background-image: url(../img/1.png);*/
/*    height: 100px;*/
/*}*/

.tab-css {
    color: #0e0e0e;
}


.nav-tabs .active > a,
.nav-tabs .active > a:hover,
.nav-tabs .active > a:focus {
    background-color: #042bef; /* 替换为您想要的颜色 */
    color: #ffffff; /* 替换为您想要的文本颜色 */
}


/* 媒体查询，适用于电脑屏幕 移除a-left */
@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
    }

    .tab-css {
        margin-right: 20px;
    }

}